@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* 모바일 기기에서 전체 너비 사용을 위한 설정 */
@viewport {
  width: device-width;
  zoom: 1.0;
}